@media (max-width: 767px) {
  /* left-sidebar toggler
        ---------------------------------------------------------------------------------------------- */
  .left-sidebar {
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: -280px;
  }
  .content {
    margin-left: 0 !important;
    padding: 10px;
  }
  .left-sidebar,
  .content {
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    -ms-transition: 500ms ease;
    transition: 500ms ease;
  }
  h3.panel-title {
    font-size: 12px;
    font-weight: 200;
  }
  .left-sidebar.show-fullsidebar {
    height: 100%;
    width: 100% !important;
    z-index: 10000;
    min-height: 100%;
    position: absolute;
    left: 0px;
  }
  .nav-input-search {
    width: 120px;
  }
  .btn-nav-toggle {
    display: none;
  }
  .navbar .btn-nav-toggle-responsive {
    background: none;
    border-color: #e0e0e0;
    border-radius: 0px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 20px;
  }
  .input_wid70{width:100%;}
}
@media (min-width: 768px) {
  .navbar .btn-nav-toggle-responsive {
    display: none;
  }
}
