@import url('https://themes.googleusercontent.com/fonts/css?kit=lhDjYqiy3mZ0x6ROQEUoUw');
.lst-kix_5mryanqso0kk-0>li:before {
	content: "\0025cf  "
}
.lst-kix_5mryanqso0kk-3>li:before {
	content: "\0025cf  "
}
ul.lst-kix_5mryanqso0kk-3 {
	list-style-type: none
}
.lst-kix_5mryanqso0kk-2>li:before {
	content: "\0025a0  "
}
ul.lst-kix_5mryanqso0kk-2 {
	list-style-type: none
}
.lst-kix_5mryanqso0kk-4>li:before {
	content: "\0025cb  "
}
ul.lst-kix_5mryanqso0kk-5 {
	list-style-type: none
}
.lst-kix_5mryanqso0kk-7>li:before {
	content: "\0025cb  "
}
ul.lst-kix_5mryanqso0kk-4 {
	list-style-type: none
}
ul.lst-kix_5mryanqso0kk-7 {
	list-style-type: none
}
ul.lst-kix_5mryanqso0kk-6 {
	list-style-type: none
}
ul.lst-kix_5mryanqso0kk-8 {
	list-style-type: none
}
ul.lst-kix_5mryanqso0kk-0 {
	list-style-type: none
}
ul.lst-kix_5mryanqso0kk-1 {
	list-style-type: none
}
.lst-kix_5mryanqso0kk-8>li:before {
	content: "\0025a0  "
}
.lst-kix_5mryanqso0kk-1>li:before {
	content: "\0025cb  "
}
.lst-kix_5mryanqso0kk-5>li:before {
	content: "\0025a0  "
}
.lst-kix_5mryanqso0kk-6>li:before {
	content: "\0025cf  "
}
ol {
	margin: 0;
	padding: 0
}
.c9 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 228.2pt;
	background-color: #cfe2f3;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c38 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 84.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c0 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 76pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c29 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 391.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c32 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 361.8pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c45 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 102.8pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c48 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 62.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c1 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 370pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c53 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 79.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c67 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 228.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c18 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 110.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c43 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 154.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c52 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 54pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c15 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 156.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}
.c10 {
	vertical-align: baseline;
	color: #000000;
	font-size: 11pt;
	font-style: normal;
	background-color: #cfe2f3;
	font-family: "Arial";
	text-decoration: none;
	font-weight: bold
}
.c19 {
	vertical-align: baseline;
	color: #000000;
	font-size: 11pt;
	font-style: normal;
	font-family: "Arial";
	text-decoration: none;
	font-weight: normal
}
.c4 {
	vertical-align: baseline;
	color: #000000;
	font-size: 11pt;
	font-style: normal;
	font-family: "Consolas";
	text-decoration: none;
	font-weight: normal
}
.c3 {
	line-height: 1.15;
	padding-top: 0pt;
	margin-right: -13pt;
	text-align: left;
	direction: ltr;
	padding-bottom: 0pt
}
.c21 {
	vertical-align: baseline;
	color: #38761d;
	font-size: 11pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal
}
.c8 {
	padding-top: 0pt;
	margin-right: -13pt;
	height: 11pt;
	text-align: center;
	direction: ltr;
	padding-bottom: 0pt
}
.c55 {
	vertical-align: baseline;
	color: #000000;
	font-style: normal;
	font-family: "Arial";
	text-decoration: none
}
.c20 {
	line-height: 1.0;
	padding-top: 0pt;
	text-align: left;
	padding-bottom: 0pt
}
.c31 {
	vertical-align: baseline;
	font-style: normal;
	text-decoration: none;
	font-weight: normal
}
.c33 {
	line-height: 1.15;
	padding-top: 0pt;
	text-align: left;
	padding-bottom: 0pt
}
.c23 {
	padding-top: 18pt;
	margin-right: -13pt;
	padding-bottom: 4pt
}
.c2 {
	margin-right: auto;
	border-collapse: collapse
}
.c16 {
	padding-left: 0pt;
	margin-right: -13pt;
	margin-left: 36pt
}
.c70 {
	margin:0px;
	padding:0px;
	/*max-width: 468pt;
	background-color: #ffffff;
	padding: 72pt 72pt 72pt 72pt*/
}
.c22 {
	padding-top: 18pt;
	height: 14pt;
	padding-bottom: 4pt
}
.c65 {
	padding-top: 0pt;
	text-align: center;
	padding-bottom: 0pt
}
.c71 {
	vertical-align: baseline;
	font-style: normal;
	text-decoration: none
}
.c72 {
	padding-top: 0pt;
	padding-bottom: 0pt
}
.c60 {
	font-style: normal;
	font-family: "Arial"
}
.c27 {
	margin-right: -13pt;
	text-align: left
}
.c59 {
	padding-top: 18pt;
	padding-bottom: 4pt
}
.c6 {
	direction: ltr;
	margin-left: 54pt
}
.c61 {
	color: inherit;
	text-decoration: inherit
}
.c44 {
	margin-right: -13pt;
	text-align: right
}
.c40 {
	font-size: 18pt;
	font-weight: normal
}
.c68 {
	color: #274e13;
	text-decoration: underline
}
.c51 {
	margin: 0;
	padding: 0
}
.c57 {
	font-size: 24pt;
	font-weight: normal
}
.c50 {
	color: #1155cc;
	text-decoration: underline
}
.c28 {
	color: #741b47;
	text-decoration: underline
}
.c39 {
	font-size: 14pt
}
.c13 {
	color: #3d85c6
}
.c12 {
	color: #990000
}
.c24 {
	height: 11pt
}
.c47 {
	margin-right: -13pt
}
.c34 {
	height: 22pt
}
.c17 {
	font-weight: bold
}
.c30 {
	color: #741b47
}
.c63 {
	color: #7f6000
}
.c26 {
	font-size: 11pt
}
.c7 {
	color: #666666
}
.c66 {
	text-align: right
}
.c73 {
	font-size: 24pt
}
.c69 {
	color: #000000
}
.c46 {
	color: #38761d
}
.c25 {
	color: #b45f06
}
.c56 {
	color: #434343
}
.c49 {
	font-style: italic
}
.c14 {
	height: 0pt
}
.c62 {
	color: #1c4587
}
.c36 {
	color: #073763
}
.c42 {
	margin-left: 18pt
}
.c64 {
	font-size: 18pt
}
.c54 {
	background-color: #f3f3f3
}
.c5 {
	font-family: "Consolas"
}
.c58 {
	color: #c27ba0
}
.c11 {
	direction: ltr
}
.c35 {
	background-color: #cfe2f3
}
.c41 {
	color: #783f04
}
.c37 {
	background-color: #efefef
}
.title {
	padding-top: 24pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 36pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 6pt
}
.subtitle {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 24pt;
	font-family: "Georgia";
	padding-bottom: 4pt
}
.subtitle_2 {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 18pt;
	font-family: "Georgia";
	padding-bottom: 4pt
}
li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}
p {
	color: #000000;
	font-size: 11pt;
	margin: 0;
	font-family: "Arial"
}
h1 {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 18pt;
	font-family: "Arial";
	font-weight: bold;
	/*padding-bottom: 6pt*/
}
h2 {
	padding-top: 18pt;
	line-height: 1.15;
	text-align: left;
	color: #000000;
	font-size: 14pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 4pt
}
h3 {
	padding-top: 14pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-size: 12pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 4pt
}
h4 {
	padding-top: 12pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 11pt;
	font-family: "Arial";
	padding-bottom: 2pt
}
h5 {
	padding-top: 11pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-size: 10pt;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 2pt
}
h6 {
	padding-top: 10pt;
	line-height: 1.15;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 10pt;
	font-family: "Arial";
	padding-bottom: 2pt
}

#doc_container{width:100%; position:relative;}
#left_container{width:300px; background-color:#E5E5E5; position:fixed; height:100%; overflow-y:scroll;}
#right_container{background:#FFFFFF; position:relative; margin-left:300px;}
.inner{padding:5px;}
.doc_section{padding:200px 0px;}
.p_cnt{margin:6px 0px 14px 0px;}
.tab_1{padding-left:3em;}
.tab_2{padding-left:6em;}
.tab_3{padding-left:9em;}
.tab_4{padding-left:12em;}
.tab_5{padding-left:15em;}
