
<ul class="maue2">
	<li><a href="#">Home › </a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp;<a href="#"> 4. Add New Beacon</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Add New Beacon</h1>
<p>Add new Beacon against App.</p>
<div class="heigh_light"> <span><b>POST URL  </b>http://api.beaconwatcher.com/index.php?<a href="#">action=addSite</a></span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>

<div class="table_2">
<table>
	<tr>
		
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
		<tr>
	
		<td><b>key</b></td>
		<td><b>Required</b></td>
	</tr>
	<tr>
	
		<td>api</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
	
		<td>uuid</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_id</td>
		<td><b>Required</b></td>
	</tr>
	<tr>

		<td>name</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
	
		<td>detail</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>location</td>
		<td><b>Required</b></td>
	</tr>
</table>
<!--<h6>api_key</h6>
<p><strong>key</strong>must be sent with all client requests. The api_key (key) helps the server to validate the request source.</p>-->
</div>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1">"message": "Beacon Added"</p>
			<!--<p class="tab_1">data": [</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"site_id": "1",</p>
			<p class="tab_2">"site_name": "Test"</p>
			<p class="tab_1">},</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"site_id": "2",</p>
			<p class="tab_2">}site_name": "Test 2"</p>
			<p class="tab_2">}</p>
			<p class="tab_2">]</p>
			-->
			<p>}</p>
		</td>
	</tr>
</table>

