
<ul class="maue2">
	<li><a href="#">Home › </a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp;<a href="#"> 2. Add New Site</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Add New Site</h1>
<p>Add new site against the App.</p>
<div class="heigh_light"> <span><b> POST URL</b> http://api.beaconwatcher.com/index.php?<a href="#">action=addSite</a></span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>

<!--<h2>Request</h2>
<table>
	
		<tr>
			<td><b>Method</b></td>
			<td><b>URL</b></td>
		</tr>
	
	<tr>
		<td><strong>POST</strong></td>
		<td>http://api.beaconwatcher.com/index.php?<a href="#">action=addSite</a></td>
	</tr>
</table>-->

<table>
	<tr>
			
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
		<tr>
		
		<td><b>key</b></td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_title</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_details</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_phone</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_mobile</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>key</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_address</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_city</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_state</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>site_pcode</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>country_id</td>
		<td><b>Required</b></td>
	</tr>
	<tr>
		
		<td>userID</td>
		<td><b>Required</b></td>
	</tr>
	
	
	
	
</table>


<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	<!--<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1"> "message": "Logged In",</p>
			<p class="tab_1"> "data": {</p>
			<p class="tab_2">"userID": "5",</p>
			<p class="tab_2">"first_name": "Daniel",</p>
			<p class="tab_2">"last_name": "Smith",</p>
			<p class="tab_2">"sites": [</p>
			<p class="tab_2">{</p>
			<p class="tab_3">"site_id": "3",</p>
			<p class="tab_3">"site_name": "My Demo Site"</p>
			<p class="tab_2">}</p>
			<p class="tab_2">]</p>
			<p class="tab_1">}</p>
			<p>}</p>
		</td>
	</tr>-->
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1"> "message": "Beacon Added"</p>
			<p>}</p>
		</td>
	</tr>
</table>

