
<ul class="maue2">
	<li><a href="#">Home › </a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li><a href="#">&nbsp; Introduction</a></li>
</ul>
<div class="clearfix"></div>
<!--<div class="main_page">
	<h2>API Specification Doc</h2>
	<h4>(Beaconwatcher)</h4>
	<table>
		<tr>
			<td><b>Version</b></td>
			<td><b>Date</b></td>
			<td><b>Authore</b></td>
			<td><b>Discription</b></td>
		</tr>
		<tr>
			<td>1.0</td>
			<td>20-May-2014</td>
			<td> Beaconwatcher</td>
			<td> Initial draft</td>
		</tr>
	</table>
	
	
</div>-->
<div class="intro">
	<h2>Introduction</h2>
	<p>Beaconwatcher API is designed to let you connect with and build applications on top of our platform, and/or to allow you to create applications for your own independent system or platform. Integrate with simple JSON API and send real-time messages to your users directly from your in-house systems. We give developers the best opportunities to create new tools and manipulate data. <br/>
	The following document describes Beaconwatcher JSON-RPC API resources. 
	</p>
	<h2>Base URL</h2>
	<p>All requests to Beaconwatcher API must be submitted to the base URL.<br/>JSON end point </p>
	<p>http://api.beaconwatcher.com</p>
	<p>Secured with SSL will come soon. Every request to the API should contain the secret App Key which can be found in our Online Manager.</p>
</div>
<div class="About_JSON_RPC">
	<p>JSON-RPC is a stateless, light-weight remote procedure call (RPC) protocol. Primarily this specification defines several data structures and the rules around their processing. It is transport agnostic in that the concepts can be used within the same process, over sockets, over http, or in many various message passing environments. It uses <a href="">JSON</a> as data format.</p>
	<h5>It is designed to be simple!</h5>
		
</div>
<div class="http_hd">
			<h2>HTTP Header</h2>
			<h5>Requirements:</h5>
			<p>Regardless of whether a remote procedure call is made using HTTP GET or POST, the HTTP request message MUST specify the following headers:</p>
			<ul>
				<li>Content-Type SHOULD be 'application/json-rpc' but MAY be 'application/json' or 'application/jsonrequest'</li>
				<li>The Content-Length MUST be specified and correct according to the guidelines and rules laid out in Section 4.4, Message Length, of the 
				<a href="#">HTTP</a> specification</li>
				<li>The Accept MUST be specified and SHOULD read 'application/json-rpc' but MAY be 'application/json' or 'application/jsonrequest'.</li>
			</ul>
</div>
<div class="resp_status">
		<h2>Response Status:</h2>
		<p>All Response Status are standard HTTP status codes. The below ones are used in this API.</p>
		<ul>
			<li class="nrw succes">2XX</li>
			<li class="lrg">Success of some kind</li>
			<li class="nrw error">4XX</li>
			<li class="lrg">Error occurred in client’s part</li>
			<li class="nrw error">5XX</li>
			<li class="lrg">Error occurred in server’s part</li>
		</ul>
		<table>
			<tr>
				<td><b>HTTP Status</b></td>
				<td><b>Code</b></td>
				<td><b>Description</b></td>
			</tr>
				<tr>
				<td class="succes">200</td>
				<td></td>
				<td>Requests using POST or GET MUST indicate a success response</td>
			</tr>
			<tr>
				<td class="error">400</td>
				<td class="error">-32600</td>
				<td>Invalid Request</td>
			</tr>
			<tr>
				<td class="error">404</td>
				<td class="error">-32601</td>
				<td>Method not found</td>
			</tr>
			<tr>
				<td class="error">500</td>
				<td class="error"> -32700</td>
				<td> Parse error</td>
			</tr>
			<tr>
				<td class="error">500</td>
				<td class="error">-32602</td>
				<td>Invalid Params</td>
			</tr>
			<tr>
				<td class="error">500</td>
				<td class="error">-32603</td>
				<td>Internal Error</td>
			</tr>
			<tr>
				<td class="error">500</td>
				<td class="error">-32099..-32000</td>
				<td> Server Error</td>
			</tr>
			
			
		</table>
</div>
			
			
		








