
<ul class="maue2">
	<li><a href="#">Home ›</a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp; <a href="#">3. Get Site</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Get Sites</h1>
<p>Get list of sites against the particular App.</p>

<div class="heigh_light"> <span><b> POST URL </b> http://api.beaconwatcher.com/index.php?<a href="#">action=addSite</a></span> </div>




<div class="table_2">
<table>
	<tr>
			
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
	<tr>
		
		<td><b>key</b></td>
		<td><b>Required</b></td>
	</tr>
	
	
</table>

</div>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td><b>Required</b></td>
		</tr>
	</thead>
	
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1">"message": "Site List",</p>
			<p class="tab_2">"data": [</p>
			<p class="tab_3">"site_id": "1",</p>
			<p class="tab_3">"site_name": "Test"</p>
			<p class="tab_2">},</p>
			<p class="tab_2">{</p>
			<p class="tab_2">"site_id": "2",</p>
			<p class="tab_2">"site_name": "Test 2"</p>
			<p class="tab_2">}</p>
			<p class="tab_2">]</p>
			
			
		
			
			<p>}</p>
		</td>
	</tr>
</table>

