
<ul class="maue2">
	<li><a href="#">Home › </a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp; <a href="#">5. Get Beacon List</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Get Beacon List</h1>
<p>This web service is used to get the List of Beacon aganst any site OR get default beacons added against any App.</p>
<div class="heigh_light"> <span><b>POST URL </b> http://api.beaconwatcher.com/index.php?<a href="#">action=addSite</a></span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>


<div class="table_2">
<table>
	<tr>
			
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
		<tr>
			
			<td><b>key</b></td>
			<td><b>Required</b></td>
		</tr>
		<tr>
	
			<td>site_id</td>
			<td><b>Required</b><br/>
			0 if want to get the default beacons
			</td>
		</tr>
		

</table>
<!--<h6>api_key</h6>
<p><strong>key</strong>must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>-->
</div>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1">"message": "Beacon details",</p>
			<p class="tab_1">data": [</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"msb_id": "4",</p>
			<p class="tab_2">"msb_name": "Default_4",</p>
			<p class="tab_2">"msb_location": "",</p>
			<p class="tab_2">"msb_uuid": "b9407f30f5f8466eaff925556b57fe6d",</p>
			<p class="tab_2">"msb_minor": "59235",</p>
			<p class="tab_2">"msb_major": "44435",</p>
			<p class="tab_2">"msb_mac_address": null,</p>
			<p class="tab_2">"site_id": null,</p>
			<p class="tab_2">"site_title": null,</p>
			<p class="tab_2">"company": null</p>
			<p class="tab_1">},</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"msb_id": "3",</p>
			<p class="tab_2">"msb_name": "Default_3",</p>
			<p class="tab_2">"msb_uuid": "e2c56db5dffb48d2b060d0f5a71096e0",</p>
			<p class="tab_2">"msb_minor": "0",</p>
			<p class="tab_2">"msb_major": "0",</p>
			<p class="tab_2">"msb_mac_address": null,</p>
			<p class="tab_2">"site_id": null,</p>
			<p class="tab_2">"site_title": null,</p>
			<p class="tab_2">}"company": null</p>
			<p class="tab_1">},</p>
			<p class="tab_1">{</p>
			<p class="tab_2">}"msb_id": "2",</p>
			<p class="tab_2">}"msb_name": "Default_2",</p>
			<p class="tab_2">}"msb_location": "",</p>
			<p class="tab_2">}"msb_uuid": "00000000000000000000000000000000",</p>
			<p class="tab_2">}"msb_minor": "1",</p>
			<p class="tab_2">}"msb_major": "1",</p>
			<p class="tab_2">}"msb_mac_address": null,</p>
			<p class="tab_2">}"site_id": null,</p>
			<p class="tab_2">}"site_id": null,</p>
			<p class="tab_2">}"company": null</p>
			<p class="tab_1">}}</p>
			<p class="tab_1">}]</p>
			
			<p>}</p>
		</td>
	</tr>
</table>

