
<ul class="maue2">
	<li><a href="#">Home ›</a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp;<a href="#">7. Get Notification</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Get Notification</h1>
<p>Get the notifications against the beacon</p>
<div class="heigh_light"> <span><b>POST URL </b> http://api.beaconwatcher.com/index.php?<a href="#">action=getBeacon</a></span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>

<div class="table_2">
<table>
	<tr>
		
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
		<tr>
		
			<td><b>key</b></td>
			<td>string</td>
		</tr>
		<tr>
		
			<td>api</td>
			<td>string</td>
		</tr>
		<tr>
		
			<td>msb_uuid</td>
			<td>string<br/>
			
			</td>
		</tr>
		<tr>
			
			<td>msb_minor</td>
			<td>integer<br/>
			
			</td>
		</tr>
		<tr>
		
			<td>msb_major</td>
			<td>integer<br/>
			
			</td>
		</tr>
		

</table>


</div>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1">"message": "Notification"</p>
			<p class="tab_1">data": [</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"nt_id": "1",</p>
			<p class="tab_2">"nt_name": "Nearby",</p>
			<p class="tab_2">"nt_title": "Nearby",</p>
			<p class="tab_2">"nt_details": "This promotional notification is shown upon </p>
			<p class="tab_2">reaching 'Nearby' Zone",</p>
			<p class="tab_2">"zone": "1",</p>
			<p class="tab_2">"template": null</p>
			<p class="tab_1">},</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"nt_id": "2",</p>
			<p class="tab_2">"nt_name": "In Middle",</p>
			<p class="tab_2">"nt_title": "In Middle",</p>
			<p class="tab_2">"nt_details": "This promotional notification is shown upon </p>
			<p class="tab_2">reaching 'In Middle' Zone.",</p>
			<p class="tab_2">"template": null</p>
			<p class="tab_1">},</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"nt_id": "3",</p>
			<p class="tab_2">"nt_name": "Far",</p>
			<p class="tab_2">"nt_title": "Far",</p>
			<p class="tab_2">"nt_details": "This promotional notification is shown upon</p>
			<p class="tab_2">"reaching 'Far' Zone.",</p>
			<p class="tab_2">"zone": "3",</p>
			<p class="tab_2">"template": null</p>
			<p class="tab_1">}</p>
			<p class="tab_1">]</p>
			
			<p>}</p>
		</td>
	</tr>
</table>

