
<ul class="maue2">
	<li><a href="#">Home ›</a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp;<a href="#">6. Get Beacon Details</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">Get Beacon Details</h1>
<p>Get beacon's details against its UUID.</p>
<div class="heigh_light"> <span><b>POST URL</b> http://api.beaconwatcher.com/index.php?<a href="#">action=getBeacon</a></span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>
<table>
	<tr>
		
			<td> <b>Params</b></td>
			<td> <b>Values</b></td>
		</tr>
		<tr>
		
			<td><b>key</b></td>
			<td><b>Required</b></td>
		</tr>
		<tr>
		
			<td>uuid</td>
			<td><b>Required</b></td>
		</tr>
		
		
		
		

</table>


</div>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1">"message": "Beacon details",</p>
			<p class="tab_1">data": [</p>
			<p class="tab_1">{</p>
			<p class="tab_2">"msb_id": "6",</p>
			<p class="tab_2">"msb_name": "Default_6",</p>
			<p class="tab_2">"msb_location": "",</p>
			<p class="tab_2">msb_uuid": "00000000000000000000000000000011</p>
			<p class="tab_2">"msb_minor": "2",</p>
			<p class="tab_2">"msb_major": "1",</p>
			<p class="tab_2">"site_id": null,</p>
			
			<p class="tab_2">"site_title": null,</p>
			<p class="tab_2">"company": null</p>
						<p class="tab_1">},</p>
			<p class="tab_1">]</p>
			
			<p>}</p>
		</td>
	</tr>
</table>

