
<ul class="maue2">
	<li><a href="#">Home ›</a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li><a href="#">1: Login</a></li>
</ul>
<div class="clearfix"></div>
<h1 class="no_cancel">1: Login</h1>
<p>API is created for User Authentication.</p>
<div class="heigh_light"> <span><b>POST URL</b> http://api.beaconwatcher.com/index.php?action=login</span> </div>
<p><strong>key</strong>  must be sent with all client requests. The api_key (key) helps the server to validate the request source..</p>
<table>
	<thead>
		<tr>
			<td>Parameter</td>
			<td>Description</td>
		</tr>
	</thead>
	<tr>
		<td><strong>key</strong></td>
		<td><b>Required</b>. App Key. must send with all requests</td>
	</tr>
	<tr>
		<td>email</td>
		<td><b>Required</b>. Login / Email</td>
	</tr>
	<tr>
		<td>pass</td>
		<td><b>Required</b>. Password</td>
	</tr>
</table>
<h2>Response</h2>
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Response</td>
		</tr>
	</thead>
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 1,</p>
			<p class="tab_1"> "message": "Logged In",</p>
			<p class="tab_1"> "data": {</p>
			<p class="tab_2">"userID": "5",</p>
			<p class="tab_2">"first_name": "Daniel",</p>
			<p class="tab_2">"last_name": "Smith",</p>
			<p class="tab_2">"sites": [</p>
			<p class="tab_2">{</p>
			<p class="tab_3">"site_id": "3",</p>
			<p class="tab_3">"site_name": "My Demo Site"</p>
			<p class="tab_2">}</p>
			<p class="tab_2">]</p>
			<p class="tab_1">}</p>
			<p>}</p>
		</td>
	</tr>
	<tr>
		<td valign="top"><strong class="green">200</strong></td>
		<td valign="top">
			<p>{</p>
			<p class="tab_1"> "status": 0,</p>
			<p class="tab_1"> "message": "Invalid Login / Password"</p>
			<p>}</p>
		</td>
	</tr>
</table>
<!--<ul class="response">
	<li>Http Status 200 if successful cancellation</li>
	<li>Http Status 401 if wrong credentials</li>
	<li>Http Status 420 if wrong parameters</li>
</ul>-->
