
<ul class="maue2">
	<li><a href="#">Home ›</a></li>
	<!--<li><a href="#">Developer API ›</a></li>-->
	<li>&nbsp;<a href="#">Tital</a></li>
</ul>
<div class="clearfix"></div>
<div class="main_page">
	<h2>API Specification Doc</h2>
	<h4>(Beaconwatcher)</h4>
	<table>
		<tr>
			<td><b>Version</b></td>
			<td><b>Date</b></td>
			<td><b>Authore</b></td>
			<td><b>Discription</b></td>
		</tr>
		<tr>
			<td>1.0</td>
			<td>20-May-2014</td>
			<td> Beaconwatcher</td>
			<td> Initial draft</td>
		</tr>
	</table>
	
	
</div>

			
		








