@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 980px) {}
@media only screen and (max-width: 800px) {
	#logo{margin: 0 auto;
    min-width: 218px;
    padding: 36px;float:none;}
	ul.ftr2{width:72%;}
	.response_menu{display:none;}
	
	}
@media only screen and (max-width: 769px) {
#wrapper{position:relative;}
	.response_menu{display:block !important;}
	.left_panel{width:38%; float:left; position:absolute; top:0px;}
.right_panel{width:100%;}
.ftr2{width:80%;}
	}
	@media only screen and (max-width: 360px) {
			body{padding:0 10px; }
			#wrapper{position:relative;}
			.main_page {width:100%; float:left;}
			.main_page TABLE {padding-left:0; margin-left:0; text-align:center;}
			.main_page TABLE  tr td{padding: 12px 0; text-align:center;}
		ul.ftr1{width:236px;}
		
		
		.tabl_1{width:100%;}
		.ftr2{width:100%;text-align:center;}
		.ftr2 ul{color: #B6B6C9; margin: 0 auto;padding: 0 5px; width: 141px;float:none;}
		.left_panel{width:90%;position:absolute; top:0px; display:none;}
		/*Login*/
		.right_panel_log{width:100%}
		}
		@media only screen and (max-width: 360px) {
	#logo {
    float: none;
    margin: 0 auto;
    min-width: 189px;
    padding: 36px 1px;
	}
	
	
/*@media screen and (max-width: 980px) and (min-width: 240px){}
@media screen and (max-width: 800px) and (min-width: 240px){}

@media screen and (max-width: 650px) and (min-width: 240px){}

@media screen and (max-width: 480px) and (min-width: 240px){}

@media screen and (max-width: 380px) and (min-width: 240px){}

@media screen and (max-width: 320px) and (min-width: 240px){}

@media screen and (max-width: 270px) and (min-width: 240px){}*/