@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}
body{ 
background: none repeat scroll 0 0 #EBF1F3;
    border: 0 none;
    color: #787878;
    font-family: 'ProximaNova-Reg',sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0 0 20px;
	margin-top:0;
}
h1,h2,h3,h4,h5,h6,p,ul,li,div,ol,span,input,textarea,div,class,select,section,header,footer,img{margin:0px; padding:0px;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

.container{width:1310px;margin:0 auto;}
.left{float:left;}
.right{float:right;}
.left_side{float:left;}
.right_side{float:right;}
.col{float:left;}
.clearfix{clear:both;}
a img{border:0px;}
img{max-width:100%;}
a{ text-decoration:none;color:#058AAD ;}
a:hover{color:#058AAD;}
.hide{ display:none;}

#header{width:100%; float:left;
background:#FFF;;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
   }
.hd_wrap{width:95%; margin:0 auto;}
#logo{border: medium none;
    display: block;
    margin-top: 2.5em;
	margin-bottom: 2.5em;
    min-width: 100px;
    width: 25%; float:left;
}
.hd_wrap ul {float:right; display:none; }
.hd_wrap ul li {float:left;list-style:none;}
.hd_wrap ul li a {color:#000;padding:35px 20px ;display:block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
#active{background:#5badaf; color:#FFF;}
.hd_wrap ul li:hover{background:#000;}
.hd_wrap ul li a:hover{color:#FFF;}
.signup_btn{ background: linear-gradient(to bottom, #1C8DB4 0%, #137CA1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 2px 0 #116D8D;
    font-family: 'ProximaNova-Bold',sans-serif;
    font-weight: normal;
    margin-top: -0.75em;
    padding: 0.75em 1em 0.5em;}
.signup_btn:hover{background:#F00;}
#wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBE4E7;
    border-radius: 5px;
    display: table;
    margin: 0 auto 1em;
    width: 100%;
}
.left_panel{
	background: none repeat scroll 0 0 #F2F7F8;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #DBE4E7;
    bottom: 0;
    color: #FFFFFF;
    display: table-cell;
    padding: 2% 3%;
    vertical-align: top;
    width: 25%;}
.left_panel ul {width:100%; float:left; }

.left_panel ul li {display:block;width:100%;float:left;}
.left_panel ul li a{ color: #284048;
    font-size: 0.875em;
    line-height: 1.75em;font-family: 'ProximaNova-Bold',sans-serif;
padding: 5px 5px 5px 0;display:block;
    font-weight: normal;}
.left_panel ul li a:hover{ color: #058AAD;}
.left_panel ul li ul {width:95%; margin-left:20px;}
.heading{padding:17px 0;font-weight:bold;font-size:17px !important;font-family: 'ProximaNova-Bold',sans-serif;}
.heading:hover{ color: #058AAD;}
.response_menu{display:none;margin-top: -21px; padding: 0 0 5px;}
.right_panel{
	 display: table-cell;
    padding: 2% 3%;
    vertical-align: top;
    width: 100%;
	}
ul.maue2{float:left; width:100%; margin-bottom:20px; }
ul.maue2 li {float:left; list-style:none; }
ul.maue2 a{color: #058AAD;font-size: 0.875em;}

.right_panel h1{ font-size: 2.5em;line-height: 1.25em;color:#284048; margin-bottom:40px !important; float:left; display:block;width:100%;}
.right_panel p{ margin-bottom:20px;}
.right_panel p > a{color:#FF6600}
.heigh_light{ background-color: #FEF9BD;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 0 9px;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
	float:left;
	width:100%;
	}
.heigh_light span{float:left;}
/*Table*/
table{border: 1px solid #DBE4E7;
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%;}

td, th {
    border: 1px solid #DBE4E7;
    padding: 12px 20px;
    text-align: left;
	word-wrap:break-word
}
td{vertical-align:text-top;}
tr:first-child {
    background: none repeat scroll 0 0 #F2F7F8;
}

thead tr th {
    background: none repeat scroll 0 0 #EBF1F3;
    color: #284048;
}
ul.response{width:97%; float:left; margin-left:15px;}
.right_panel h2{ margin-bottom:15px;}
/*Footer*/
.ftr{width:100%; float:left; padding: 0 0 15px 0;}
.ftr_content{width:95%;margin:0 auto;}
ul.ftr1{width:300px; margin:0 auto; padding-bottom:30px;}
ul.ftr1 li{padding:0 5px; list-style:none; float:left;}
ul.ftr1 li a {color:#b6b6c9;}
.ftr2 {width:49%; margin:0 auto; }
.ftr2 p{display:inline; float:left;color:#B6B6C9;}
.ftr2 ul {list-style:none;padding:0 5px; float:left; color:#b6b6c9; float:left;}
.ftr2 ul li {list-style:none;padding:0 5px; float:left; color:#b6b6c9; float:left;}
.ftr2 ul li a {color:#b6b6c9;}

/*Log In Page*/

/*Respong*/
.Response{width:100%; float:left;}
.Response > .tabl_1 table  {
    margin-bottom: 0 !important;
}
/*get_sites*/
.add_new_site{width:100%; float:left; margin:50px 0 0 0;}

/* For Font Colors */
.green{color:#090;}
.red{color:#F00;}

/* For Creating Tab Spaces */
.right_panel td p{margin-bottom:4px; line-height:18px;}
.tab_1{padding-left:3em;}
.tab_2{padding-left:6em;}
.tab_3{padding-left:9em;}
.tab_4{padding-left:12em;}
.tab_5{padding-left:15em;}

.right_panel h6 {color: #787878;
    font-family: 'ProximaNova-Reg',sans-serif;
    font-size: 17px;}
.table_2{width:100%; float:left;}

/*API*/
.main_page{width:75%; margin:0 auto; padding:15px 0;}
.main_page 	TABLE{margin:15px;}
.main_page h2{text-align:center; color:#000;}
.main_page h4{text-align:center;color:#000;}
.intro{width:100%; float:left; margin:15px 0; }
.About_JSON_RPC{width:100%; float:left; margin:15px 0;}
.http_hd{width:100%; float:left;margin:15px 0;}
.http_hd ul{margin-left:35px;}
.resp_status{width:100%; float:left;margin:15px 0;}
.resp_status ul{width:100%; float:left;}
.resp_status ul li{float:left; list-style:none;}
.error{color:#990000;}
.succes{color:#38761D;}
.nrw{width:10%;}
.lrg{width:90%;}

